In [1]:
import pandas as pd
import seaborn as sns
import datetime
import warnings

In [ ]:
# Questions
# should I do by State otr by county

## Data Examination

In [2]:
df = pd.read_csv('crude_rate.csv')

In [3]:
df.head()
df.tail()
len(df)

816

In [4]:
# chenking for null values
df.isnull().sum()

State                                                              0
Year                                                               0
Deaths                                                             0
Population                                                         0
Crude Rate                                                         0
Crude Rate Lower 95% Confidence Interval                           0
Crude Rate Upper 95% Confidence Interval                           0
Prescriptions Dispensed by US Retailers in that year (millions)    0
dtype: int64

In [5]:
df.Deaths.unique()

array(['39', '46', '67', '75', '54', '92', '83', '134', '172', '195',
       '210', '194', '180', '175', '282', '28', '27', '17', 'Suppressed',
       '14', '11', '19', '29', '16', '94', '71', '72', '81', '69', '79',
       '250', '249', '275', '340', '350', '360', '393', '479', '490',
       '515', '625', '650', '596', '565', '545', '616', '20', '30', '96',
       '98', '133', '127', '149', '156', '221', '198', '176', '181',
       '179', '1598', '1105', '605', '1583', '1530', '1547', '1485',
       '1602', '1762', '1889', '2128', '2059', '2057', '1847', '2088',
       '2159', '169', '184', '204', '206', '229', '233', '310', '337',
       '368', '365', '412', '325', '423', '415', '443', '532', '158',
       '173', '174', '168', '196', '238', '220', '225', '213', '202',
       '442', '531', '32', '36', '40', '38', '33', '42', '52', '68', '93',
       '116', '115', '86', '125', '43', '48', '60', '53', '45', '62',
       '13', '57', '65', '417', '571', '890', '1001', '1080', '1258',
       '1151', '1323', '1519', '1523', '1654', '1739', '1637', '1383',
       '1327', '1446', '85', '199', '223', '248', '269', '312', '344',
       '404', '504', '550', '549', '551', '539', '724', '34', '31', '47',
       '64', '82', '58', '59', '77', '78', '70', '51', '55', '66', '80',
       '61', '544', '629', '583', '612', '575', '647', '929', '739',
       '895', '933', '921', '955', '1204', '1139', '1263', '49', '74',
       '140', '150', '188', '251', '324', '339', '300', '375', '397',
       '387', '489', '15', '41', '101', '112', '138', '148', '163', '183',
       '185', '190', '170', '26', '23', '87', '118', '128', '103', '160',
       '111', '131', '171', '56', '242', '237', '294', '343', '356',
       '377', '455', '624', '707', '713', '689', '762', '105', '203',
       '228', '141', '130', '121', '270', '266', '100', '124', '97',
       '108', '119', '91', '95', '107', '503', '497', '500', '562', '568',
       '493', '507', '584', '620', '533', '594', '522', '667', '759',
       '932', '346', '319', '519', '491', '595', '467', '579', '670',
       '660', '636', '577', '669', '712', '910', '1161', '211', '278',
       '390', '527', '641', '523', '656', '747', '725', '756', '700',
       '934', '1076', '122', '162', '234', '295', '298', '314', '331',
       '44', '106', '84', '117', '137', '277', '284', '306', '418', '406',
       '548', '614', '556', '644', '726', '21', '63', '25', '166', '205',
       '287', '330', '378', '414', '437', '498', '520', '413', '99',
       '161', '302', '363', '419', '505', '466', '326', '454', '348',
       '347', '384', '478', '711', '757', '187', '155', '192', '219',
       '252', '272', '212', '201', '254', '416', '664', '521', '654',
       '586', '514', '580', '1056', '1064', '1169', '1107', '1115',
       '1417', '1576', '1732', '1787', '292', '342', '506', '576', '659',
       '708', '758', '859', '864', '787', '829', '841', '840', '979',
       '10', '18', '459', '398', '557', '591', '675', '755', '863', '716',
       '1197', '1333', '1403', '1695', '2175', '136', '152', '262', '394',
       '492', '538', '178', '247', '264', '274', '318', '396', '362',
       '382', '402', '369', '328', '357', '481', '484', '524', '429',
       '501', '640', '770', '970', '1110', '132', '89', '145', '143',
       '50', '90', '154', '245', '530', '22', '24', '35', '403', '483',
       '494', '499', '652', '663', '748', '789', '892', '379', '457',
       '602', '788', '825', '836', '908', '986', '1171', '1218', '1179',
       '1114', '1219', '159', '167', '345', '371', '353', '438', '444',
       '471', '260', '361', '374', '399', '385', '427', '400', '582',
       '547', '651', '775', '372', '332', '474', '606', '737', '648',
       '717', '692', '273', '299', '193', '495', '513', '518', '585',
       '226', '281', '352', '380', '420', '496', '604'], dtype=object)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 8 columns):
State                                                              816 non-null object
Year                                                               816 non-null int64
Deaths                                                             816 non-null object
Population                                                         816 non-null int64
Crude Rate                                                         816 non-null object
Crude Rate Lower 95% Confidence Interval                           816 non-null object
Crude Rate Upper 95% Confidence Interval                           816 non-null object
Prescriptions Dispensed by US Retailers in that year (millions)    816 non-null int64
dtypes: int64(3), object(5)
memory usage: 51.1+ KB

In [7]:
# Change the world supressed ( deahts btw 0-9) to 0 maybe change by the mean
df = df.replace('Suppressed', 0)

In [8]:
# convert the obj to numeric
df['Deaths'] = pd.to_numeric(df['Deaths'])

In [13]:
df.describe()

,Year,Deaths,Population,Prescriptions Dispensed by US Retailers in that year (millions)
count,816.000000,816.000000,8.160000e+02,816.000000
mean,2006.500000,354.716912,5.871569e+06,174.625000
std,4.612599,383.825068,6.561914e+06,32.807063
min,1999.000000,0.000000,4.917800e+05,116.000000
25%,2002.750000,76.500000,1.580634e+06,147.250000
50%,2006.500000,219.500000,4.112482e+06,179.000000
75%,2010.250000,505.250000,6.589866e+06,203.250000
max,2014.000000,2175.000000,3.880250e+07,219.000000

In [56]:
df.State.unique()
df.head(31)

,State,Year,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Prescriptions Dispensed by US Retailers in that year (millions)
0,Alabama,1999,39,4430141,0.9,0.6,1.2,116
1,Alabama,2000,46,4447100,1,0.8,1.4,126
2,Alabama,2001,67,4467634,1.5,1.2,1.9,138
3,Alabama,2002,75,4480089,1.7,1.3,2.1,142
4,Alabama,2003,54,4503491,1.2,0.9,1.6,149
5,Alabama,2004,92,4530729,2,1.6,2.5,155
6,Alabama,2005,83,4569805,1.8,1.4,2.3,163
7,Alabama,2006,134,4628981,2.9,2.4,3.4,174
8,Alabama,2007,172,4672840,3.7,3.1,4.2,184
9,Alabama,2008,195,4718206,4.1,3.6,4.7,196
10,Alabama,2009,210,4757938,4.4,3.8,5,202
11,Alabama,2010,194,4779736,4.1,3.5,4.6,210
12,Alabama,2011,180,4802740,3.7,3.2,4.3,219
13,Alabama,2012,175,4822023,3.6,3.1,4.2,217
14,Alabama,2013,175,4833722,3.6,3.1,4.2,207
15,Alabama,2014,282,4849377,5.8,5.1,6.5,196
16,Alaska,1999,28,624779,4.5,3,6.5,116
17,Alaska,2000,27,626932,4.3,2.8,6.3,126
18,Alaska,2001,17,633714,Unreliable,1.6,4.3,138
19,Alaska,2002,0,642337,0,0,0,142
20,Alaska,2003,14,648414,Unreliable,1.2,3.6,149
21,Alaska,2004,11,659286,Unreliable,0.8,3,155
22,Alaska,2005,19,666946,Unreliable,1.7,4.4,163
23,Alaska,2006,29,675302,4.3,2.9,6.2,174
24,Alaska,2007,16,680300,Unreliable,1.3,3.8,184
25,Alaska,2008,94,687455,13.7,11,16.7,196
26,Alaska,2009,94,698895,13.4,10.9,16.5,202
27,Alaska,2010,71,710231,10,7.8,12.6,210
28,Alaska,2011,72,722718,10,7.8,12.5,219
29,Alaska,2012,81,731449,11.1,8.8,13.8,217
30,Alaska,2013,69,735132,9.4,7.3,11.9,207

In [42]:
df.State.unique()
df.head()
df_sub = df.set_index(df.State)
df_sub.head()
# len(df_sub)

,State,Year,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Prescriptions Dispensed by US Retailers in that year (millions)
State,,,,,,,,
Alabama,Alabama,1999,39,4430141,0.9,0.6,1.2,116
Alabama,Alabama,2000,46,4447100,1,0.8,1.4,126
Alabama,Alabama,2001,67,4467634,1.5,1.2,1.9,138
Alabama,Alabama,2002,75,4480089,1.7,1.3,2.1,142
Alabama,Alabama,2003,54,4503491,1.2,0.9,1.6,149

In [59]:
# Functions
def subseting (df , x , y):
    df_copy = df.copy()
    df_copy = df_copy.iloc[ x: y , :]
    df_copy = df_copy[[ 'Year' , 'Deaths']]
    return df_copy

In [61]:
df_Alabama = subseting(df, 0 , 15)
df_Alabama

    Year  Deaths
0   1999      39
1   2000      46
2   2001      67
3   2002      75
4   2003      54
5   2004      92
6   2005      83
7   2006     134
8   2007     172
9   2008     195
10  2009     210
11  2010     194
12  2011     180
13  2012     175
14  2013     175

In [54]:
df_Alabama = df_sub.iloc[ 0: 16 , :]
df_Alabama = df_Alabama[[ 'Year' , 'Deaths']]
df_Alabama
# df_Alabama.head()
# len(df_Alabama)

         Year  Deaths
State
Alabama  1999      39
Alabama  2000      46
Alabama  2001      67
Alabama  2002      75
Alabama  2003      54
Alabama  2004      92
Alabama  2005      83
Alabama  2006     134
Alabama  2007     172
Alabama  2008     195
Alabama  2009     210
Alabama  2010     194
Alabama  2011     180
Alabama  2012     175
Alabama  2013     175
Alabama  2014     282

In [43]:
df_Alabama_try  = df_sub.loc['State' == 'Alabama']

TypeError: '<' not supported between instances of 'str' and 'bool'

In [18]:
df_Alabama_try

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[816 rows x 0 columns]